.bottonAction{
    color: #E3244B;
    border-color: #E3244B;
    cursor: pointer;  
  }
  
  .bottonAction:hover{
    background-color: #E3244B;
    border-color: #E3244B;
    color: white;
  }

  .alerta {
    color: red;
  }
tbody, thead th{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}