.bottonAction{
    color: #E3244B;
    border-color: #E3244B;
    cursor: pointer;  
  }
  
  .bottonAction:hover{
    background-color: #E3244B;
    border-color: #E3244B;
    color: white;
  }

  .alerta {
    color: red;
  }