<div class="animated fadeIn">

	<div class="tituloPrincipal">
		<h3>Usuarios</h3>
	</div>

<!-- <div class="btnAgregar">
	<button class="btn btn-outline-dark" >
		<span class="oi oi-plus"></span> Agregar Usuario</button>
	</div>	 -->	

	<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha Registro</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let usuario of dataUsuarios" (click)="informacionUsuario(usuario.id)">
				<td>{{ usuario.nombre +' '+ usuario.apellido | uppercase}}</td>
				<td>{{ usuario.creado }}</td>
				<td>Pendiente</td>
			</tr>
		</tbody>
	</table>
</div>