<h3>Pre-inscripción</h3>
<form #preInscripcion="ngForm">
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="name" class="col-form-label">Nombres*</label>
			<input type="text" class="form-control" name="name" id="name" autocomplete="off" required pattern="[a-zA-ZñáéíóúÁÉÍÓÚ ]{3,}" [(ngModel)]="model.person.name">
		</div>
		<div class="form-group col-md-4">
			<label for="lastname" class="col-form-label">Apellidos*</label>
			<input type="text" class="form-control" id="lastname" name="lastname" autocomplete="off" required pattern="[a-zA-ZñáéíóúÁÉÍÓÚ ]{3,}" [(ngModel)]="model.person.lastname">
		</div>
		<div class="form-group col-md-2">
			<label for="gender" class="col-form-label">Genero</label>
			<select id="gender" name="gender" class="form-control" [(ngModel)]="model.person.gender" required>
				<option value="MASCULINO" selected>Masculino</option>
				<option value="FEMENINO">Femenino</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="birthday" class="col-form-label">Fecha de Nacimiento*</label>
			<input type="date" class="form-control" id="birthday" name="birthday" autocomplete="off" required [(ngModel)]="model.person.birthday">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-1">
			<label for="idKindId" class="col-form-label">Tipo Doc.</label>
			<select id="idKindId" name="idKindId" class="form-control" [(ngModel)]="model.person.idKindId" required>
				<option *ngFor="let doc of docTypes" value="{{doc.id}}" selected>
				{{doc.tipo}}</option>
			</select>
		</div>
		<div class="form-group col-md-3">
			<label for="nui" class="col-form-label">Numero Documento*</label>
			<input type="text" class="form-control" id="nui" name="nui" autocomplete="off" required pattern="[0-9A-Za-z]{4,}" [(ngModel)]="model.person.nui">
		</div>
		<div class="form-group col-md-6">
			<label for="address" class="col-form-label">Direccion*</label>
			<input type="text" class="form-control" id="address" name="address" autocomplete="off" required pattern="[-0-9A-Za-z# ]{4,}" [(ngModel)]="model.person.address">
		</div>
		<div class="form-group col-md-2">
			<label for="idCity" class="col-form-label">Ciudad</label>
			<select id="idCity" name="idCity" class="form-control" [(ngModel)]="model.person.idCity" required>
				<option *ngFor="let ciudad of cities" value="{{ciudad.id}}">
				{{ciudad.ciudad}}</option>
			</select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="email" class="col-form-label">Email*</label>
			<input type="text" class="form-control" name="email" id="email" autocomplete="off" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="model.person.email">
		</div>
		<div class="form-group col-md-4">
			<label for="phone" class="col-form-label">Telefono*</label>
			<input type="text" class="form-control" id="phone" name="phone" autocomplete="off" required pattern="[0-9]{4,}" [(ngModel)]="model.person.phone">
		</div>
		<div class="form-group col-md-4">
			<label for="celphone" class="col-form-label">Celular</label>
			<input type="text" class="form-control" id="celphone" name="celphone" autocomplete="off" required pattern="[0-9]{4,}" [(ngModel)]="model.person.celphone">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="profession" class="col-form-label">Profesión</label>
			<input type="text" class="form-control" name="profession" id="profession" autocomplete="off" pattern="[a-zA-Z ]{4,}" [(ngModel)]="model.person.profession">
		</div>
		<div class="form-group col-md-4">
			<label for="career" class="col-form-label">Ocupación</label>
			<input type="text" class="form-control" id="career" name="career" autocomplete="off" pattern="[a-zA-Z ]{4,}" [(ngModel)]="model.person.career">
		</div>		
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="username" class="col-form-label">Usuario*</label>
			<input type="text" class="form-control" id="username" name="username" autocomplete="off" required pattern="[a-zA-Z0-9.-]{4,}" [(ngModel)]="model.person.username">
		</div>
		<div class="form-group col-md-4">
			<label for="password" class="col-form-label">Password*</label>
			<input type="text" class="form-control" name="password" id="password" autocomplete="off" required [(ngModel)]="model.password">
		</div>
		<div class="form-group col-md-4">
			<label for="password2" class="col-form-label">Repita Password*</label>
			<input type="text" class="form-control" id="password2" autocomplete="off" required>
		</div>
	</div>
	<div class="row justify-content-end">
			<button type="submit" id="enviar" class="btn btn-outline-dark"
			[disabled]="!preInscripcion.form.valid" (click)="onSubmit()">Enviar</button>		
	</div>
</form>
<br>
<p><small><strong>* Campo requerido</strong></small></p>
