agm-map {
    width: 99%;
    height: 350px;
}

.active {
    font-weight: bold;
    color: gray;
}

#Text {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 2.5em;
    color: #e3244b;
}

tbody,
thead th {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.border-left-primary {
    border-left: .25rem solid #B51F29 !important;
}

.icon-lg {
    font-size: 35px;
    opacity: 90%;
    color: #003249;
    padding: 15px;
    background-color: #0032491a;
    border-radius: 50px;
}