<div class="animated fadeIn" [style.display]="mostrar ? 'block' : 'none'">
  <div class="tituloPrincipal">
    <h3>{{title}}</h3>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-7 mb-sm-3">
      <agm-map [latitude]="Centerlat" [longitude]="Centerlng" [zoom]="14" *ngIf="mostrar">
        <agm-marker *ngFor="let estacion of datosEstaciones" [latitude]="estacion.latitude" [longitude]="estacion.longitude" iconUrl="../../../../assets/images/iconMin.png">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              <strong>{{ estacion.name | uppercase}}</strong>
              <br> Puntos de Contacto: {{ estacion['contactPointStates'].length}}
              <br> Bicicletas disponibles: {{ estacion.availableCycles}}
              <br> Puntos libres: {{estacion['contactPointStates'].length-estacion.availableCycles}}
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>

    <div class="col-md-5">
      <div class="card" style="height:350px;">
        <div class="card-body">
          <h5 class="card-title">Bicicletas</h5>
          <br>
          <div class="card-text">
            <canvas baseChart *ngIf="pieLabelsBicicletas.length > 0" [data]="pieDataBicicletas" [labels]="pieLabelsBicicletas" [chartType]="pieChartType"
              [options]="pieChartTooltips">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 my-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transacciones</h5>
          <br>
          <div class="card-text">
            <canvas *ngIf="lineChartLabels.length>0" baseChart width="400" height="220" [datasets]="lineChartData" [options]="lineChartOptions"
              [labels]="lineChartLabels" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            <div class="row justify-content-md-center" style="width:400px; height:200px;" *ngIf="lineChartLabels.length<=0">
              <div class="text-center">
                <div id="bord"></div>
                <div id="Text">Cargando...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 my-3">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%"
        data-page-length='25'>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th style="text-align: center;">Capacidad</th>
            <th style="text-align: center;">Bicicletas</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estacion of datosEstaciones" (click)="informacionEstacion(estacion.id)">
            <td>{{estacion.name}}</td>
            <td>{{estacion.address}}</td>
            <td style="text-align: center;">{{estacion['contactPointStates'].length}}</td>
            <td style="text-align: center;">{{estacion.availableCycles}}</td>
            <td>{{estacion.statusName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
</div>