.bottonAction {
    color: #E3244B;
    border-color: #E3244B;
    cursor: pointer;
}

.bottonAction:hover {
    background-color: #E3244B;
    border-color: #E3244B;
    color: white;
}

.image-header {
    width: 220px;
    height: 220px;
}

.text-primary {
    color: var(--blue-bicirio) !important;
}