
<div class="row justify-content-md-center">
	<div class="jumbotron">
		<h4>{{ dataUsuario.nombre +' '+ dataUsuario.apellido | uppercase}}</h4>
		<p> Registrado: {{ dataUsuario.creado }}<br>
			Dirección: {{ dataUsuario.direccion }} - {{ dataUsuario.idCiudad.ciudad }}/{{ dataUsuario.idCiudad.moDepartamento.departamento }}<br>
		Celular: {{ dataUsuario.celular }} / Email: {{ dataUsuario.email }}</p>
		<button class="btn btn-primary btn-lg" role="button">Inhabilitar</button>
		<button class="btn btn-primary btn-lg" (click)="showRoles=true" role="button">Roles</button>

	</div>
</div>

<div class="animated fadeIn  row">
	<div class="tituloPrincipal col-md-12">
		<h4>Transacciones del Usuario</h4>
	</div>
	
	<div style="margin-top: 40px;" class="col-md-10 offset-md-1">
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Estacion Retiro</th>
					<th style="text-align: center;">Hora</th>
					<th>Estacion Devolución</th>
					<th style="text-align: center;">Hora</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let prestamo of prestamos">
					<td>{{prestamo.stationLoan}}</td>
					<td>{{prestamo.start}}</td>
					<td>{{prestamo.stationReturn}}</td>
					<td>{{prestamo.end}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="showRoles">
	perr
</div>

