
<div class="animated fadeIn">
	<div class="tituloPrincipal">
	<h3>Bicicletas</h3>
</div>


	<div class="btnAgregar" *ngIf="!showForm">
		<button class="btn btn-outline-dark" (click)="showForm=true">
			<span class="oi oi-plus"></span> Agregar Bicicleta</button>
		</div>		

		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Fecha Registro</th>
					<th>Estado</th>

				</tr>
			</thead>
			<tbody>
				<tr  *ngFor="let bici of dataBicis" (click)="informacionBicicleta(bici.id)">
					<td>{{ bici.codigo }}</td>
					<td>{{ bici.creado }}</td>
					<td>{{ bici.idEstadoBicicleta.estado }}</td>
				</tr>				
			</tbody>
		</table>	
</div>

	

	<div class="formularioAgregar animated fadeIn fast">
		<app-agregar-bicicleta *ngIf="showForm"></app-agregar-bicicleta>
	</div>
	

<!-- 	<div class="example-container mat-elevation-z8">
  <mat-table #table >

    - Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition"

    Position Column
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{bici.codigo}} </mat-cell>
    </ng-container>

    Name Column
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{bici.creado}} </mat-cell>
    </ng-container>

    Weight Column
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{bici.idEstadoBicicleta.estado }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->
