
<div class="animated fadeIn" [style.display]="mostrar ? 'block' : 'none'">
	


	<div class="tituloPrincipal">
		<h3>Bicicletas</h3>
	</div>


	<div class="btnAgregar" *ngIf="!showForm">
		<button class="btn btn-outline-primary bottonAction" (click)="showForm=true">
			<span class="oi oi-plus"></span> Agregar Bicicleta</button>
		</div>		

		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Fecha Registro</th>
					<th>Estado</th>

				</tr>
			</thead>
			<tbody>
				<tr  *ngFor="let bici of dataBicis" (click)="informacionBicicleta(bici.id)">
					<td>{{ bici.codigo }}</td>
					<td>{{ bici.creado }}</td>
					<td>{{ bici.idEstadoBicicleta.estado }}</td>
				</tr>				
			</tbody>
		</table>	
		

		

		<div class="formularioAgregar" *ngIf="showForm">
			<h5>Nueva Bicicleta</h5>
			<form #nuevaBicicleta="ngForm">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="code" class="col-form-label">Código*</label>
						<input type="text" class="form-control" name="code" id="code" autocomplete="off"
						required pattern="[0-9]{4}" [(ngModel)]="model.code" autofocus>
					</div>
				</div>
				<div class="row justify-content-end">
					<button id="cancelar" class="btn btn-outline-primary bottonAction" style="margin-right: 5px;" (click)="showForm=false">Cancelar</button>
					<button type="submit" id="enviar" class="btn btn-outline-primary bottonAction"
					[disabled]="!nuevaBicicleta.form.valid" (click)="onSubmit()">Enviar</button>
				</div>
			</form>
			<p><small><strong>* Campo requerido</strong></small></p>
		</div>
		
	</div>

	<div class="row justify-content-md-center" *ngIf="!mostrar">
		<div id="loadingGeneral" class="text-center">
			<div id="bordeGeneral"></div>
			<div id="TextLoading">Cargando...</div>
		</div>	
	</div>