.bottonAction {
    color: #E3244B;
    border-color: #E3244B;
    cursor: pointer;
}

.bottonAction:hover {
    background-color: #E3244B;
    border-color: #E3244B;
    color: white;
}

.active {
    font-weight: bold;
    color: gray;
}

.btn-pencil {
    margin-left: 0.5rem;
    cursor: pointer;
    padding: 8px;
    background-color: #b51f2921;
    border-radius: 50%;
}

.btn-mto {
    white-space: normal !important;
}

.icon-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    cursor: help;
}

.mat-column-boolean-field {
    flex: 0 0 8%;
}

.text-primary {
    color: #0c304c !important;
}

.text-primary:hover {
    color: #0c304c !important;
}