<div class="animated fadeIn" [style.display]="mostrar ? 'block' : 'none'">
	<div class="row">
		<div class="col-md-6 clearfix">
			<div class="jumbotron">
				<h4>{{ datosEstacion.name | uppercase}}</h4>
				<p> Dirección: {{ datosEstacion.address}}
					<br> Estado: {{ datosEstacion.statusName }}
					<br> Puntos de Contacto: {{puntosContacto.length}}
					<br> Bicicletas Disponibles: {{datosEstacion.availableCycles}}
					<span *ngIf="datosEstacion.statusName=='MANTENIMIENTO' && mantenimientoHistorial">
						<br>La estación se encuentra en mantenimiento desde {{ mantenimientoHistorial[numeroMantenimientos].inicio }}</span>
				</p>
				<button *ngIf="datosEstacion.statusName!='MANTENIMIENTO' && datosEstacion.availableCycles == 0" class="btn btn-outline-primary btn-lg bottonAction"
				 role="button" data-toggle="modal" data-target="#Mantenimiento">
					Iniciar Mantenimiento</button>
				<button *ngIf="datosEstacion.statusName=='MANTENIMIENTO' && datosEstacion.availableCycles == 0" class="btn btn-outline-primary btn-lg bottonAction"
				 role="button" data-toggle="modal" data-target="#finMantenimiento">
					Finalizar Mantenimiento</button>
			</div>
		</div>
		<div class="col-md-6">
			<h4>Estadistica Puntos de Contacto</h4>
			<chart style="display:block; width: 100% !important;" [options]="options"></chart>
		</div>
	</div>
	<br>
	<br>

	<div class="row">
		<div class="col-sm-5">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Estado Puntos de Contacto</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Punto</th>
									<th>Estado</th>
									<th>Bicicleta</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let puntoContacto of puntosContacto">
									<td>{{puntoContacto.alias}}</td>
									<td>{{puntoContacto.status}}</td>
									<td>{{(puntoContacto.bikeCode) ? puntoContacto.bikeCode : "N/A"}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Historico de Mantenimiento</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table row-border hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Inicio</th>
									<th>Observaciones</th>
									<th>Piezas</th>
									<th>Fin</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let historial of mantenimientoHistorial; let i=index">
									<td>{{ historial.inicio }}</td>
									<td>{{ historial.observation | observacionesMantenimiento }}</td>
									<td>
										<ul>
											<li *ngFor="let item of mantenimientoHistorial[i].detailsMantto">{{ item.idMoTiposPartesEstacion.name }}
											</li>
										</ul>
									</td>
									<td>{{ historial.fin }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row justify-content-md-center" *ngIf="!mostrar">
	<div id="loadingGeneral" class="text-center">
		<div id="bordeGeneral"></div>
		<div id="TextLoading">Cargando...</div>
	</div>
</div>

<div class="modal fade" id="Mantenimiento" tabindex="-1" role="dialog" aria-labelledby="Mantenimiento" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Mantenimiento">Iniciar Mantenimiento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="width: 95%;">
				<form #crearMantenimiento="ngForm">
					<div class="form-group">
						<label for="exampleFormControlSelect1">
							<em>Tipo de Mantenimiento</em>
						</label>
						<select class="form-control" id="idTypeMantto" name="idTypeMantto" [(ngModel)]="mantenimientoEstacionModel.idTypeMantto"
						 required>
							<option *ngFor="let typeMantto of typesMantto" value="{{ typeMantto.id}}">{{ typeMantto.alias }}</option>
						</select>
					</div>
					<div class="form-group">
						<em>Piezas</em>
						<br>
						<div class="form-check form-check-inline" *ngFor="let parteEstacion of partesEstacion">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" value="{{ parteEstacion.id }}" (change)="eventoParteEstacion($event)"> {{ parteEstacion.parts }}
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="desc">
							<em>Observaciones</em>
						</label>
						<textarea class="form-control" id="desc" name="desc" rows="3" [(ngModel)]="mantenimientoEstacionModel.desc"></textarea>
					</div>
					<div class="row justify-content-end">
						<button id="cancelar" class="btn btn-outline-primary bottonAction" style="margin-right: 5px;" data-dismiss="modal">Cancelar</button>
						<button type="submit" id="enviar" class="btn btn-outline-primary bottonAction" [disabled]="!crearMantenimiento.form.valid"
						 (click)="onSubmit()" data-dismiss="modal">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="finMantenimiento" tabindex="-1" role="dialog" aria-labelledby="finMantenimiento" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="finMantenimiento">Finalizar Mantenimiento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="width: 95%;">
				<form #finMantenimiento="ngForm">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">
							<em>Observaciones</em>
						</label>
						<textarea class="form-control" id="desc" name="desc" rows="3" [(ngModel)]="finMantenimientoEstacionModel.desc"></textarea>
					</div>
					<div class="row justify-content-end">
						<button id="cancelar" class="btn btn-outline-primary bottonAction" style="margin-right: 5px;" data-dismiss="modal">Cancelar</button>
						<button type="submit" id="enviar" class="btn btn-outline-primary bottonAction" [disabled]="!finMantenimiento.form.valid"
						 (click)="onSubmitFin()" data-dismiss="modal">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>