<div class="row justify-content-md-center">
	<div class="jumbotron">
		<h4>{{ datosEstacion.name | uppercase}}</h4>
		<p> Dirección: {{ datosEstacion.address}}<br>
			Estado: {{ datosEstacion.statusName }}<br>
			Puntos de Contacto: {{datosEstacion.contactPointStates.length}}<br>
			Bicicletas Disponibles: {{datosEstacion.availableCycles}}
		</p>
		<button class="btn btn-outline-primary btn-lg bottonAction" role="button">Mantenimiento</button>

	</div>
</div>


<div class="animated fadeIn row">
	<div class="tituloPrincipal col-md-12">
			<h4>Estado Puntos de Contacto</h4>
		</div>
	<div class="col-md-6">
		

		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let puntoContacto of puntosContacto">
					<td>{{puntoContacto.alias}}</td>
					<td>{{puntoContacto.status}}</td>	
				</tr>
			</tbody>
		</table>
		
	</div>
	<div class="col-md-6">
		<chart [options]="options"></chart>		
	</div>
	

</div>

