<div class="animated fadeIn" [style.display]="mostrar ? 'block' : 'none'">


	<div class="tituloPrincipal">
		<h3>Sanciones</h3>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Sanciones Activas</h5>
					<br>
					<div class="card-text">
						<table datatable id="sancionesActivas" [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table row-border hover mt-2"
						 cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Documento</th>
									<th>Inicio Sanción</th>
									<th>Fin Sanción</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sancion of sanciones2">
									<td>{{ sancion.firstName +' '+ sancion.lastName | uppercase}}</td>
									<td>{{ sancion.username }}
										<br>
										<div class="my-2">
											<button class="btn btn-outline-primary bottonAction" data-toggle="modal" data-target=".modal" (click)="sancionSeleccionada=sancion">
												Fin sanción</button>
										</div>
									</td>
									<td>{{ sancion.fechaSancion }}</td>
									<td>{{ sancion.fechaLimiteSancion }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Sanciones Aplicadas</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" class="table row-border hover mt-2" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Documento</th>
									<th>Inicio Sanción</th>
									<th>Fin Sanción</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sancion of sanciones1">
									<td>{{ sancion.firstName +' '+ sancion.lastName | uppercase}}</td>
									<td>{{ sancion.username }}</td>
									<td>{{ sancion.fechaSancion }}</td>
									<td>{{ sancion.fechaLimiteSancion }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-md-center" *ngIf="!mostrar">
	<div id="loadingGeneral" class="text-center">
		<div id="bordeGeneral"></div>
		<div id="TextLoading">Cargando...</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="sancionSeleccionada">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Realmente desea eliminar la sanción de
					<strong>{{ sancionSeleccionada.firstName +' '+ sancionSeleccionada.lastName | uppercase}}</strong>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary bottonAction" (click)="finsancion(sancionSeleccionada.id)" data-dismiss="modal">Finalizar Sanción</button>
				<button type="button" class="btn btn-outline-primary bottonAction" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>