<div class="animated fadeIn" [style.display]="mostrar ? 'block' : 'none'">


	<div class="tituloPrincipal">
		<h3>Sanciones</h3>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item" (click)='opcionCard="sancionesActivas"'>
							<a class="nav-link" [class.active]='opcionCard=="sancionesActivas"'>Sanciones Activas</a>
						</li>
						<li class="nav-item" (click)='opcionCard="sancionesSaldadas"'>
							<a class="nav-link" [class.active]='opcionCard=="sancionesSaldadas"'>Sanciones Saldadas</a>
						</li>
					</ul>
				</div>
				<div class="card-body" [hidden]='opcionCard=="sancionesSaldadas"'>
					<h5 class="card-title">Sanciones Activas</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table row-border hover mt-2" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Documento</th>
									<th>Inicio Sanción</th>
									<th>Fin Sanción</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sancion of sanciones2" data-toggle="modal" data-target="#habilitarUsuario">
									<td>{{ sancion.firstName +' '+ sancion.lastName | uppercase}}</td>
									<td>{{ sancion.username }}</td>
									<td>{{ sancion.fechaSancion }}</td>
									<td>{{ sancion.fechaLimiteSancion }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-body" [hidden]='opcionCard=="sancionesActivas"'>
					<h5 class="card-title">Sanciones Saldadas</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" class="table row-border hover mt-2" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Documento</th>
									<th>Inicio Sanción</th>
									<th>Fin Sanción</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sancion of sanciones1" data-toggle="modal" data-target="#habilitarUsuario">
									<td>{{ sancion.firstName +' '+ sancion.lastName | uppercase}}</td>
									<td>{{ sancion.username }}</td>
									<td>{{ sancion.fechaSancion }}</td>
									<td>{{ sancion.fechaLimiteSancion }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Sanciones Aplicadas</h5>
					<br>
					<div class="card-text">
						<table datatable [dtOptions]="dtOptionsAplicadas" [dtTrigger]="dtTriggerAplicadas" class="table row-border hover mt-2" cellspacing="0"
						 width="100%">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Documento</th>
									<th>Inicio Sanción</th>
									<th>Fin Sanción</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sancion of sancionesAplicadas" data-toggle="modal" data-target="#habilitarUsuario">
									<td>{{ sancion.firstName +' '+ sancion.lastName | uppercase}}</td>
									<td>{{ sancion.username }}</td>
									<td>{{ sancion.fechaSancion }}</td>
									<td>{{ sancion.fechaLimiteSancion }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-md-center" *ngIf="!mostrar">
	<div id="loadingGeneral" class="text-center">
		<div id="bordeGeneral"></div>
		<div id="TextLoading">Cargando...</div>
	</div>
</div>