<div class="table-responsive">
    <mat-table #table [dataSource]="dataSourceStation">
        <ng-container matColumnDef="Estacion">
            <mat-header-cell *matHeaderCellDef> Estación </mat-header-cell>
            <mat-cell *matCellDef="let station"> {{station.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Bicicletas disponibles" class="text-center">
            <mat-header-cell *matHeaderCellDef class="text-center"> Bicicletas disponibles </mat-header-cell>
            <mat-cell *matCellDef="let station" class="text-center"> {{station.availableCycles}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Puntos de contacto libres">
            <mat-header-cell *matHeaderCellDef class="text-center"> Puntos de contacto libre </mat-header-cell>
            <mat-cell *matCellDef="let station" class="text-center"> {{(station['contactPointStates'].length)-(station.availableCycles)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Estado">
            <mat-header-cell *matHeaderCellDef class="text-center"> Estado </mat-header-cell>
            <mat-cell *matCellDef="let station" class="text-center">
                <span class="oi oi-circle-check text-success" *ngIf="station.statusName == IN_SERVICE_STATUS" title="Reportando estado correctamente"></span>
                <span class="oi oi-warning text-warning" *ngIf="station.statusName == WARNING_STATUS" title="Sin reportar estado por mas de 2 minutos"></span>
                <span class="oi oi-circle-x text-danger" *ngIf="station.statusName == OFF_SERVICE_STATUS" title="Sin reportar estado por mas de 5 minutos"></span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="informacionEstacion(station.id)" *matRowDef="let station; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="lengthStations" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">

    </mat-paginator>
</div>