<div class="d-block">
    <canvas *ngIf="lineChartLabels.length>0" baseChart [datasets]="lineChartDataEstation" [options]="lineChartOptions" [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    <div class="row justify-content-md-center" style="width:400px; height:200px;" *ngIf="lineChartLabels.length<=0">
        <div class="text-center">
            <div id="bord"></div>
            <div id="Text">Cargando...</div>
        </div>
    </div>
</div>
