<!-- <app-navbar *ngIf="rolPrincipal==rolAdministrador"></app-navbar>
<app-client-navbar *ngIf="rolPrincipal==rolusuario"></app-client-navbar>

<div id="contenedorPrincipal" *ngIf=" rolPrincipal==rolusuario || rolPrincipal==rolAdministrador ">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->

<!-- Metodo para salir facil -->
<div *ngIf="rolPrincipal==rolAdministrador">
    <app-navbar *ngIf="rolPrincipal==rolAdministrador"></app-navbar>
    <div id="contenedorPrincipal" class="admin-container" *ngIf=" rolPrincipal==rolusuario || rolPrincipal==rolAdministrador ">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>

<div *ngIf="rolPrincipal==rolusuario">
    <app-client-navbar *ngIf="rolPrincipal==rolusuario"></app-client-navbar>
    <div class="container margin-container-client" *ngIf=" rolPrincipal==rolusuario || rolPrincipal==rolAdministrador ">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

</div>