<div class="animated fadeIn">
	<div class="tituloPrincipal">
		<h3>Estaciones</h3>
	</div>

	<div *ngIf="!showForm">
		<div class="btnAgregar">
			<button class="btn btn-outline-dark" (click)="showForm=true">
				<span class="oi oi-plus"></span> Agregar Estación</button>
			</div>		
		</div>
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Num. Contactos</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let estacion of datosEstaciones" (click)="informacionEstacion(estacion.id)">
					<td>{{estacion.nombre}}</td>
					<td>{{estacion.direccion}}</td>
					<td>{{estacion.moPuntosContactosCollection.length}}</td>	
					<td>{{estacion.idEstadoEstacion.estado}}</td>		
				</tr>
			</tbody>
		</table>

	</div>

	<div class="formularioAgregar animated fadeIn fast">
		<app-agregar-estacion *ngIf="showForm"></app-agregar-estacion>
	</div>