<nav class="navbar navbar-expand-sm navbar-light fixed-top navbar-border h-70 bg-light">
    <a class="navbar-brand" routerLink='/home' href="#">
        <img src="../../../../assets/images/logo-bicirio-low.png" width="90" alt="Home" />
    </a>
    <!-- <input type="checkbox" id="check" hidden>
    <label id="sidebar-btn" for="check"><i class="oi oi-menu"></i></label> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink='administrarUsuarios'>Usuarios</a>
                    <a class="dropdown-item" routerLink='administrarEmpleados'>Empleados</a>
                    <a class="dropdown-item" routerLink='administrarEstaciones'>Estaciones</a>
                    <a class="dropdown-item" routerLink='administrarBicicletas'>Bicicletas</a> -->
        <!-- start documentado anteriormente -->
        <!-- <a class="dropdown-item" routerLink='administrarSanciones'>Codigo Sanciones</a> -->
        <!-- <a class="dropdown-item" routerLink='administrarMantenimiento'>Codigo Mantenimiento</a> -->
        <!-- <a class="dropdown-item" routerLink='administrarInformacionGeneral'>Información General</a> -->
        <!-- end documentado anteriormente -->
        <!-- </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Monitoreo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink='sanciones'>Sanciones</a>
                    <a class="dropdown-item" routerLink='operaciones'>Operacion</a>
                </div>
            </li> -->
        <!-- start documentado anteriormente -->
        <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="administrarMantenimiento">Mantenimiento</a>
            </li> -->
        <!-- end documentado anteriormente -->
        <!-- </ul> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/images/unknown-user.png" class="avatar" alt="avatar"> {{nombre | userName}}
                </a>
                <div class="dropdown-menu text-right ml-70" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink='cliente/home'>Mi Perfil</a>
                    <a class="dropdown-item" (click)="logOut()">LogOut</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- sidebar start -->
<div class="sidebar">
    <a href="#"></a>
    <a class="dropdown-item" routerLink='administrarUsuarios'><i class="oi oi-people lead mr-2"></i><span> Usuarios </span></a>
    <a class="dropdown-item" routerLink='administrarEmpleados'><i class="oi oi-person lead mr-2"></i><span> Empleados </span></a>
    <a class="dropdown-item" routerLink='administrarEstaciones'><i class="oi oi-map-marker lead mr-2"></i><span> Estaciones </span></a>
    <a class="dropdown-item" routerLink='administrarBicicletas'><i class="oi oi-list lead mr-2"></i><span> Bicicletas </span></a>
    <hr>
    <a class="dropdown-item" routerLink='sanciones'><i class="oi oi-ban lead mr-2"></i><span>Sanciones</span></a>
    <a class="dropdown-item" routerLink='operaciones'><i class="oi oi-clock lead mr-2"></i><span> Operacion </span></a>
</div>