<nav
  class="
    navbar navbar-expand-sm navbar-light
    fixed-top
    navbar-border
    h-70
    bg-light
  "
>
  <a class="navbar-brand" routerLink="/home" href="#">
    <img
      src="../../../../assets/images/logo-bicirio-low.png"
      width="90"
      alt="Home"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown active">
        <a
          class="nav-link dropdown-toggle text-muted"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="../../../../assets/images/unknown-user.png"
            class="avatar"
            alt="avatar"
          />
          {{ nombre | userName }}
        </a>
        <div
          class="dropdown-menu text-right ml-70"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" routerLink="cliente/home">Mi Perfil</a>
          <a class="dropdown-item" (click)="logOut()">LogOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="sidebar">
  <a href="#"></a>
  <a
    class="dropdown-item"
    [routerLink]="['administrarUsuarios']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-people lead mr-2" title="Usuarios"></i
    ><span> Usuarios </span>
  </a>
  <a
    class="dropdown-item"
    [routerLink]="['administrarEmpleados']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-person lead mr-2" title="Empleados"></i
    ><span> Empleados </span>
  </a>
  <a
    class="dropdown-item"
    [routerLink]="['administrarEstaciones']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-map-marker lead mr-2" title="Estaciones"></i
    ><span> Estaciones </span>
  </a>
  <a
    class="dropdown-item"
    [routerLink]="['administrarBicicletas']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-list lead mr-2" title="Bicicletas"></i
    ><span> Bicicletas </span>
  </a>
  <hr />
  <a
    class="dropdown-item"
    [routerLink]="['sanciones']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-ban lead mr-2" title="Sanciones"></i><span>Sanciones</span>
  </a>
  <a
    class="dropdown-item"
    [routerLink]="['operaciones']"
    routerLinkActive="link-active"
  >
    <i class="oi oi-clock lead mr-2" title="Operación"></i
    ><span> Operación </span>
  </a>
</div>
