<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e3244b;">
  <a class="navbar-brand" routerLink='/home' href="#">
    <img src="../../../../assets/images/logo-bicirio-UR.png" width="60" alt=""/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink='administrarUsuarios'>Usuarios</a>
          <a class="dropdown-item" routerLink='administrarEmpleados'>Empleados</a>
          <a class="dropdown-item" routerLink='administrarEstaciones'>Estaciones</a>
          <a class="dropdown-item" routerLink='administrarBicicletas'>Bicicletas</a>
          <a class="dropdown-item" routerLink='administrarSanciones'>Codigo Sanciones</a>
          <a class="dropdown-item" routerLink='administrarMantenimiento'>Codigo Mantenimiento</a>
          <!-- <a class="dropdown-item" routerLink='administrarInformacionGeneral'>Información General</a> -->
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink='historicos'>Estadisticas</a>
      </li>
    </div>
  </div>


  <div><span style="color:white;">{{nombre | userName}}</span></div>

</nav>
