<div class="row justify-content-md-center">
	<div class="jumbotron">
		<h4>{{ dataEmpleado.nombre +' '+ dataEmpleado.apellido | uppercase}}</h4>
		<p> Registrado: {{ dataEmpleado.creado }}<br>
			Dirección: {{ dataEmpleado.direccion }} - {{ dataEmpleado.idCiudad.ciudad }}/{{ dataEmpleado.idCiudad.moDepartamento.departamento }}<br>
		Celular: {{ dataEmpleado.celular }} / Email: {{ dataEmpleado.email }}</p>
		<a class="btn btn-primary btn-lg" role="button">Inhabilitar</a>
		<a class="btn btn-primary btn-lg" role="button">Roles</a>

	</div>
</div>
