<div class="row justify-content-md-center" *ngIf="show">
	<div class="jumbotron">
		<h4>{{ dataEmpleado.nombre +' '+ dataEmpleado.apellido | uppercase}}</h4>
		<p> Registrado: {{ dataEmpleado.creado }}<br>
			Dirección: {{ dataEmpleado.direccion }} - {{ dataEmpleado.idCiudad.ciudad }}/{{ dataEmpleado.idCiudad.moDepartamento.departamento }}<br>
		Celular: {{ dataEmpleado.celular }} / Email: {{ dataEmpleado.email }}</p>
		<button class="btn btn-primary btn-lg bottonAction" role="button" *ngIf="dataSecurity.enabled">Inhabilitar</button>
		<button class="btn btn-primary btn-lg bottonAction" role="button" *ngIf="!dataSecurity.enabled">Habilitar</button>
		<button class="btn btn-primary btn-lg bottonAction" role="button">Roles</button>

	</div>
</div>