<h5>Nueva Bicicleta</h5>
<form (ngSubmit)="onSubmit()" #nuevaBicicleta="ngForm">
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="code" class="col-form-label">Codigo*</label>
			<input type="text" class="form-control" name="code" id="code" autocomplete="off"
			required pattern="[0-9]{2,}" [(ngModel)]="model.code" autofocus>
		</div>
		<!-- <div class="form-group col-md-2">
			<label for="idBikeState" class="col-form-label">Estado*</label>
			<select id="idBikeState" name="idBikeState" class="form-control" [(ngModel)]="model.idBikeState" required>
				<option value="operando" selected>Operando</option>
				<option value="mantenimiento">Mantenimiento</option>
			</select>
		</div> -->
	</div>
	<div class="row justify-content-end">
		<button id="cancelar" class="btn btn-outline-dark" style="margin-right: 5px;">Cancelar</button>
		<button type="submit" id="enviar" class="btn btn-outline-dark"
		[disabled]="!nuevaBicicleta.form.valid">Enviar</button>
	</div>
</form>
<p><small><strong>* Campo requerido</strong></small></p>
