/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btnAgregar {
  margin-bottom: 20px;
  float: right;
}

/*titulos de cada vista*/
.tituloPrincipal {
  margin-bottom: 20px;
}

/*animaciones*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}



/*tablas*/
table{
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}

table tbody tr:hover{
  cursor:pointer;
}


/*Formularios*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.formularioAgregar {
  margin-top: 40px;
}

/*cargando*/

#loadingGeneral{
  width: 300px;
  height: 300px;
  position: relative;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin:90px auto;
}
#bordeGeneral{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  border:2px solid #f3f3f3;
  border-top: 3px solid #e3244b;
  border-radius: 100%;
  animation: spin 1s  infinite linear;
}
#TextLoading{
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 2.5em;
  color: #e3244b;
}

@keyframes spin{
  from{
    transform:  rotate(0deg);
    }to{
      transform: rotate(360deg)
    }
  }

  /*cargando*/
  #loading{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
  }

  #loading img{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    z-index: -29;
  }